body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.header{
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    height: 100px;
}

.header__logo{
    width: 50px;
}

.header__nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}


.header__nav a:hover{
    color: #d7d7d7;
}